
body{
    background-color: rgb(248, 235, 218);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1,h2,p {
    margin: none;
}

h1{
    font-size: 1.8em;
    line-height: 1;
    font-family: 'Fraunces';
}

h2{
    font-weight: 200;
    letter-spacing: 5px;
    font-size: 15px;
    color: gray;
}

p{
    color: gray;
    font-size: 12px;
    line-height: 1.7;
}

.product-card{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.product-image{
    content: url(assets/images/image-product-mobile.jpg);
    width: 300px;
}

.product-details{
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
}

.current-price{
    color: rgb(34, 110, 75);
    font-size: 1.8em;
    font-family: Fraunces;
    font-weight: 700;

}

.original-price{
    text-decoration: line-through;
}

.add-to-cart-button{
    width: 100%;
    cursor: pointer;
    height: 40px;
    border-style: none;
    border-radius: 8px;
    background-color: rgb(34, 110, 75);
    color:white;
}

@media (min-width:500px) {

    .product-card{
        width: 480px;
    }

    .product-image, .product-details{
        width: 240px;
    }
    .product-image{
        content: url(assets/images/image-product-desktop.jpg);
    }
}